:root{
    /* font */
    --heading-font: 'Merriweather', serif;
    --main-font : 'Rubik', sans-serif;

    /* color */
    --hijau-pallet : #309565;
    --kuning-pallet : #F0B43B;
    --orange-pallet: #EA7E4A;
    --hitam-pallet: #1F4533;
    --body1-color: #E9F2E5;
    --body2-color: #F6F5EE;
    --body3-color: #E4E2E0;
}

html, body{
    overflow-x: hidden;
}

body{
    background-color: var(--body1-color) !important ;
    font-family: 'Rubik', sans-serif;
   
}
p, h1{
    color: var(--hitam-pallet);
}



/* navbar start */
.navbar.show{
    background-color: var(--body1-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}
.navbar-nav .nav-item{
    margin: 0 30px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-weight: 400;
    color: var(--hitam-pallet);
 }
 .navbar-nav .nav-item .nav-link.active{
    font-weight: 700;
    color: var(--hitam-pallet);
 }
 .navbar-brand img{
     max-width: 90px;
     width: 100%;
 }

/* navbar end */

/* header start */

.content-left .content-wrapper  h1{
    font-size: 45px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: var(--hitam-pallet);
}
.content-left .content-wrapper .button-home{
    margin-top: 130px;
}
.content-left .button-home .gabung{
    background-color: var(--hijau-pallet);
    font-weight: 500;

}
.content-left .button-home .explore{
    background-color: #fff;
    font-weight: 500;
}
.container-fluid .content-right{
    position: relative;

}
.container-fluid .content-right img{
    margin-top: 20rem;
    width: 800px;
    max-width: 100%;
    z-index: -1;
}
/* header end */

/* about start */
.about{
    background-color: var(--body2-color);
    width: 100%; 
    border-radius: 50px 50px 0 0;
    padding: 100px 0;
    margin-top: -50px;
}
.about .box-list{
    position: relative;
    width: 245px;
    height: 245px;
    margin: 20px;
}
.about .box-wrapper-list{
    max-width: 800px;
}



.box-list .box{
background-color: #FFFFF6;
width: 220px;
min-height: 220px;
padding: 20px;
border-radius: 10px;
position: absolute;
}
.box-list .box h3{
    margin: 20px 0;
    font-weight: 700;
    font-size: 25px;
    color: var(--hitam-pallet);
}
.box-list .box p{
    font-size: 15px;
    font-weight: 300;
    color: var(--hitam-pallet);

}
.box-list .box-orn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    background-color: var(--orange-pallet);
    border-radius: 10px;
    

}
.about .heading-about{
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--hitam-pallet);
    font-size: 36px;
}
.about .subheading-about{
    color: var(--hitam-pallet);
}
.about .btn-more{
    color: var(--hitam-pallet);
    font-size: 20px;
    font-weight: 700;
}
.about .img-about{
    margin-top: 100px;
    max-width: 600px;
}
.about .img-about img{
    width: 100%;
    height: 100%;
}
/* about end*/

/* Profesi start */
.profesi{
    padding: 100px 0;
}
.profesi .heading-profesi{
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--hitam-pallet);
    font-size: 36px;
}
.profesi .subheading-profesi{
    color: var(--hitam-pallet);
    max-width: 600px;
}
.profesi .row-slider{
    position: relative;
}
.profesi .btn-slider-profesi-right{
    position: absolute;
    width: 49px;
    height: 49px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10; 
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profesi .btn-slider-profesi-left{
    position: absolute;
    width: 49px;
    height: 49px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10; 
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profesi .btn-slider-profesi-right, .btn-slider-profesi-left i{
    color: var(--hijau-pallet);
    font-size: 60px;
}

.profesi .swiper-slide{
    background-color: #fff;
    max-width: 600px;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.profesi .card-profesi img{
    width: 150px;
}
/* Profesi end */

/* Syarat start */
.require{
    padding: 100px 0;
    background-color: var(--body3-color);
}

/* Syarat end */

/* step start */
.step{
    padding: 100px 0;
    background-color: var(--body2-color);
}
.step .heading-step{
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--hitam-pallet);
    font-size: 36px;
}
.step .subheading-step{
    color: var(--hitam-pallet);
}

.slider-step .toggle i{
    font-size: 60px;
}
.slider-step .content-slider{
    background-color: #fff;
    width: 100%;
    min-height: 150px;
    border-radius: 15px;
    padding: 0 20px;
    
}
.swiper-slide .nomor p{
    background-color: var(--orange-pallet);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;

}
.content-slider p{
    font-size: 20px;
}

.step .swiper {
    width: 100%;
    max-height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 0 20px;
  }
/* step end */

/* video start */
.video{
    padding: 100px 0;
    
}
.video img{
    cursor: pointer;
}
/* video end */

/* blog start */
.blog{
    padding: 100px 0;
    background-color: var(--body3-color);
}
.blog .btn-blog{
    background-color: var(--hijau-pallet);
    font-weight: 400;
}
.blog .heading-blog{
    font-family: var(--heading-font);
    color: var(--hitam-pallet);
    font-size: 36px;
}
.blog .card{
    position: relative;
    background-color: #fff;
    border-radius: 15px;
}
.blog .card-wrapper img{
    position: absolute;
    top: 0;
}
.blog .card .card-body{
    position: relative;
    padding: 50px 20px;
    
 }
 .card .card-body .label{
     position: absolute;
     top: -20px;
     background-color: var(--orange-pallet);
 }
 .blog .row-blog{
     position: relative;
 }
.blog .btn-slider-blog-right{
    right: -20px;
    top: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
    cursor: pointer;
}
.blog .btn-slider-blog-left{
    left: 25px;
    top: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
    cursor: pointer;
}
.blog .btn-slider-blog-right, .btn-slider-blog-left  i{
    color: var(--hijau-pallet);
    font-size: 60px;
}


/* blog end */

/* testi start */
.testi{
    padding: 100px 0 ;
    background-color: var(--body2-color);
}
.testi .heading-testi{
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--hitam-pallet);
    font-size: 36px;
}
.testi .subheading-testi{
    color: var(--hitam-pallet);
}
.testi .card-wrapper{
    max-width: 750px;
    padding: 20px;
    border-radius: 10px;
    
}
.testi .username{
    margin-top: 10px;
    font-weight: 500;
}
.testi .body-testi{
    position: relative;
    padding: 50px 0;
}
.testi .body-testi .bxs-quote-left{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5rem;
}
.testi .body-testi .bxs-quote-right{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2.5rem;
}
.testi .swiper{
    max-width: 750px;
}
/* testi end */

/* faq start */
.faq{
    padding: 100px 0;

}
.faq .heading-faq{
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--hitam-pallet);
    font-size: 36px;
}
.faq .subheading-faq{
    color: var(--hitam-pallet);
}
.faq .box-wrapper{
    border-radius: 10px;
}
.faq .question{
    position: relative;
}
.faq .question .title{
    color: var(--hitam-pallet);
    font-size: 1.2rem;
    font-weight: 500;
}
.faq .question .title::before{
 content: '+';
 position: absolute;
 right: 20px;
 top: 50%;
 transform: translateY(-50%);
 font-size: 1.8rem;

}

.faq .answer{
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: .5s ease-in-out;
}
.faq .box-wrapper.active .answer{
    height: 150px;
    padding: 20px;
    transition: .5s ease-in-out;
}
.faq .box-wrapper.active .title::before{
    content: '-';
}
/* faq end */

/* subs start */
.subs{
    padding: 150px 0;
}
.subs .box-wrapper{
    max-width: 780px;
    min-height: 350px;
    padding: 20px 0;
    position: relative;
}
.subs .label{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--kuning-pallet);
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    
}
.subs .box{
    background: #FFFFF6;
    max-width: 740px;
    min-height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
}
.subs .box .form{
    background-color: #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.075);
    width: 80%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}
.box .form input, input::placeholder, input:active{
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.287);
}
.box .form .btn-subs{
    background-color: var(--hijau-pallet);
    color: #fff;
}

.subs .orn{
    position: absolute;
    bottom: 0; right: 0;
    width: 700px;
    min-height: 250px;
    background-color: var(--orange-pallet);
    border-radius: 15px;
    z-index: -1;
}
/* subs end */

/* footer start */
.footer{
    padding-top: 100px;
    background-color: var(--body2-color);
    border-radius: 50px 50px 0 0 ;
}
/* footer end */









@media screen and (max-width: 1500px) {
    .content-left .content-wrapper  h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .subs .label{
        font-size: 15px;
    }
    .blog .btn-blog{
       font-size: 15px;
       padding: 10px 15px;
    }
}

@media screen and (max-width: 450px) {
    .subs .label{
        font-size: 12px;
    }
    .blog .btn-blog{
       font-size: 15px;
       padding: 10px 15px;
    }
    .profesi .card-profesi img{
        width: 100px;
    }
}
