:root{
    /* font */
    --heading-font: 'Merriweather', serif;
    --main-font : 'Rubik', sans-serif;

    /* color */
    --hijau-pallet : #309565;
    --kuning-pallet : #F0B43B;
    --orange-pallet: #EA7E4A;
    --hitam-pallet: #1F4533;
    --body1-color: #E9F2E5;
    --body2-color: #F6F5EE;
    --body3-color: #E4E2E0;
}

body{
    background-color: var(--body1-color) !important ;
    font-family: 'Rubik', sans-serif;

}


/* navbar start */
.navbar-nav .nav-item{
    margin: 0 30px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-weight: 400;
    color: var(--hitam-pallet);
 }
 .navbar-nav .nav-item .nav-link.active{
    font-weight: 700;
    color: var(--hitam-pallet);
 }
 .navbar-brand img{
     max-width: 90px;
     width: 100%;
 }
/* navbar end */

/* header start */
 .content-left .content-wrapper{
    padding-left: 10px;
}
.content-left .content-wrapper  h1{
    font-size: 45px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: var(--hitam-pallet);
}
.content-left .content-wrapper .button-home{
    margin-top: 130px;
}
.content-left .button-home .gabung{
    background-color: var(--hijau-pallet);
    color: #fff;
    padding: 25px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
}
.content-left .button-home .explore{
    background-color: #fff;
    color: var(--hijau-pallet);
    padding: 25px 50px;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 30px;
    font-weight: 500;
}
.container-fluid .content-right{
    position: relative;

}
.container-fluid .content-right img{
    margin-top: 20rem;
    width: 800px;
    max-width: 100%;
    z-index: -1;
}
/* header end */

/* about start */
.about{
    background-color: var(--body2-color);
    width: 100%; 
    height: 500px;
    border-radius: 50px 50px 0 0;
    padding-top: 50px;
}
.about .box-list{
    position: relative;
    max-width: 340px;
    min-height: 340px;
    border: 1px solid black;
}

.box-list .box{
background-color: #FFFFF6;
max-width: 300px;
min-height: 300px;
padding: 20px;
border-radius: 10px;
z-index: 1
}
.box-list .box h3{
    margin: 20px 0;
    font-weight: 700;
    font-size: 25px;
}
.box-list .box p{
    font-size: 25px;
    font-weight: 300;
    

}
.box-list .box-orn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
    height: 160px;
    background-color: var(--orange-pallet);
    border-radius: 10px;

}
/* about end*/
